@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.footer {
    position: absolute;
    width: 99.6%;
    height: 363px;
    top: 2060px;
    background-color: #F1EADC;
}

.visa_mastercard {
    position: relative;
    width: 68px;
    height: 22px;
    top: 238px;
    left: 1287px;
}

.social {
    position: relative;
    display: flex;
    width: 90px;
    height: 23px;
    top: 165px;
    left: 1265px;
    gap: 12px;
}

.frame22 {
    display: grid;
    width: 70px;
    height: 102px;
    position: relative;
    top: 124px;
    left: 637px;
    gap: 10px;
}

.frame22_links {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18.2px;
    color: black;
}

.confedicial {
    display: grid;
    position: relative;
    width: 204px;
    height: 66px;
    top: 60px;
    left: 245px;
    gap: 6px;
}

.confedicial_links {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18.2px;
    color: black;
}

.frame23 {
    display: grid;
    position: absolute;
    width: 158px;
    height: 51px;
    top: 104px;
    left: 1197px;
    gap: 9px;
}

.frame23 span {
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: black;
}

.footer_links {
    display: flex;
    position: absolute;
    top: 104px;
    width: 400px;
    height: 21px;
    left: 530px;
    gap: 45px;
}

.footer_womazing {
    position: absolute;
    display: flex;
    align-items: center;
    width: 139px;
    height: 25px;
    top: 101px;
    left: 245px;
    gap: 11px;
}

.footer_womazing span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
    color: black;
}

.header_link {
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}

.header_link_active {
    color: #6E9C9F;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    line-height: 21px;
    font-size: 15px;
}

.header {
    position: absolute;
    width: 1110px;
    height: 300px;
    left: 245px;
}

.road_item {
    position: absolute;
    display: grid;
    width: 557px;
    height: 111px;
    top: 189px;
    left: 3px;
    gap: 26px;
}

.road_item h1 {
    width: 557px;
    height: 61px;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    font-weight: 500;
    line-height: 61px;
    text-align: left;
    color: black;
}

.bread {
    display: flex;
    width: 411px;
    height: 24px;
    gap: 13px;
}

.bread span {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: black;
}

#active {
    color: #909090;
}

.header_header {
    position: absolute;
    width: 1110px;
    height: 28px;
    top: 51px;
}

.bags {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 2px;
    left: 1086px;
}

.call_order {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 27px;
    height: 27px;
    top: 3px;
    left: 855px;
    transition: .5s ease;
}

.call_order:hover {
    background-color: #6E9C9F;
}

.call_order:hover a svg path {
    fill: white;
}

.order_a_call:hover {
    background-color: #6E9C9F;
}

.order_a_call:hover a svg path {
    fill: white;
}

.number_phone {
    position: absolute;
    width: 128px;
    height: 21px;
    top: 3px;
    left: 891px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.menu {
    display: flex;
    position: absolute;
    width: 399px;
    height: 21px;
    top: 3px;
    left: 285px;
    gap: 45px;
}

.menu_link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;
    color: black;
}

.menu_link_active {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #6E9C9F;
}

.logo {
    width: 139px;
    height: 25px;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    color: black;
    text-decoration: none;
    gap: 11px;
}

.main {
    display: grid;
    position: absolute;
    width: 1,107px;
    height: 1,528px;
    top: 402px;
    left: 248px;
    gap: 130px;
}

.good {
    display: flex;
    width: 1107px;
    height: 729px;
    padding: 0px, 150px, 0px, 0px;
    gap: 92px;
}

.info {
    display: grid;
    position: absolute;
    width: 347px;
    height: 495px;
    top: 117px;
    left: 610px;
    gap: 59px;
}

.block_price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 187px;
    height: 44px;
    gap: 29px;
}

#price_now {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;
    color: #998E78;
}

#old_price {
    text-decoration: line-through;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 33px;
    text-align: left;
    color: #9C9C9C;
}

.choose_size {
    display: grid;
    width: 261px;
    height: 103px;
    gap: 34px;
}

.choose_size span {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

.size {
    display: flex;
    width: 261px;
    height: 41px;
    gap: 14px;
}

.razmer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border: 1px solid black;
    text-decoration: none;
}

.razmer_active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border: 1px solid black;
    text-decoration: none;
    background-color: black;
}

#razmer_active {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.razmer span {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: black;
}

.choose_color {
    display: grid;
    width: 206px;
    height: 103px;
    gap: 34px;
}

.choose_color span {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: black;
}

.color {
    display: flex;
    width: 206px;
    height: 41px;
    gap: 14px;
}

.cvet {
    width: 41px;
    height: 41px;
    border-radius: 100px;
}

#brown {
    background: #927876;
}

#grey {
    border: 1px solid black;
    background: #D4D4D4;
}

#pink {
    background: #FD9696;
}

#orange {
    background: #FDC796;
}

.add_to_basket {
    display: flex;
    width: 347px;
    height: 68px;
    gap: 11px;
}

.kolichestvo {
    width: 68px;
    height: 68px;
    border: 1px solid #AFAFAF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
}

.add_to_basket_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 268px;
    height: 68px;
    gap: 10px;
    background: #6E9C9F;
    transition: .5s ease;
}

.add_to_basket_btn:hover {
    background-color: #509498;
}

.add_to_basket_btn span {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}

.photo_good {
    width: 536px;
    height: 729px;
}

.photo_good img {
    width: 536px;
    height: 729px;
}

.related_products {
    display: grid;
    width: 730px;
    height: 669px;
    gap: 67px;
}

.related_products h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;
}

.related {
    display: flex;
    width: 730px;
    height: 558px;
    gap: 30px;
}

.one_item {
    display: grid;
    place-items: center;
    width: 350px;
    height: 558px;
    gap: 24px;
}

.photo {
    width: 350px;
    height: 478px;
}

.photo_link {
    position: relative;
    display: inline-block;
}

.photo_link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6E9C9F;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo_link:hover::before {
    opacity: 0.69;
}

.photo img {
    display: block;
    max-width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.photo_link:hover .overlay {
    opacity: 0.69;
}

.overlay .arrow {
    width: 31px; 
    height: 22px;
    pointer-events: auto;
}

.name_price {
    display: grid;
    place-items: center;
    width: 145px;
    height: 56px;
    gap: 7px;
}

.name_price h4 {
    width: 160px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

.name_price span {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #998E78;
}

.order_back_call {
    background-color: rgba(110, 156, 159, 0.95);
    position: fixed;
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transform: scale(0);
    transition: transform .5s ease;
}

.order_back_call.active {
    transform: scale(1);
}

.order_wrapper {
    display: none;
}

.order_wrapper.active {
    position: relative;
    margin-bottom: 100px;
    width: 491px;
    height: 503px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
}

.icon_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 2em;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form_box {
    width: 100%;
    display: grid;
    place-items: center;
    z-index: 1;
}

.h2_order {
    color: black;
    position: absolute;
    top: 60px;
    width: 491px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
}

form {
    display: grid;
    place-items: center;
    width: 400px;
    height: 350px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #868686;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    padding: 0 35px 0 5px;
}

form button {
    width: 351px;
    height: 68px;
    background: #6E9C9F;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    transition: .5s ease;
}

form button:hover {
    background-color: #509498;
}

.order_end {
    position: relative;
    margin-bottom: 100px;
    width: 600px;
    height: 278px;
    background: white;
    display: grid;
    place-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
    display: none;
}

.order_end.active {
    display: block;
}

.order_end h3 {
    position: absolute;
    top: 70px;
    left: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
}

.order_end a {
    position: absolute;
    top: 140px;
    left: 210px;
    text-decoration: none;
    width: 168px;
    height: 68px;
    border: 1px solid #6E9C9F;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
}

.order_end a span {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center; 
    color: #6E9C9F; 
    transition: .5s ease;  
}

.order_end a:hover {
    background-color: #6E9C9F;
}

.order_end a:hover span {
    color: white;
}